<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirm your e-mail address to sign up to VolunteerMap!</h1>
    <p>
      Hey, we just need to confirm your e-mail address before you can sign up to VolunteerMap!
      If you didn't request to sign up to VolunteerMap, you can safely ignore this e-mail.
      The link to sign up is: https://volunteermap.io/auth/register/<%= params[:token] %>
    </p>
  </body>
</html>
