<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirm your password reset request!</h1>
    <p>
      Hey <%= params[:username] %>,
    </p>
    <p>
        We just need to confirm your password reset request before it can be applied to your VolunteerMap account!
        If you didn't request to reset your password, you can safely ignore this e-mail. Please note this URL only lasts for 15 minutes.
        The link to confirm your password reset request is: https://volunteermap.io/auth/password_update/<%= params[:token] %>
    </p>
  </body>
</html>
