<div class="w-full h-full" data-controller="events-view">
    <div class="absolute w-full h-full m-3 dark:bg-gray-900">
    </div>

    <div class="absolute w-full h-full" data-events-view-target="map"></div>
</div>
