<div class="w-full h-full relative overflow-hidden" data-controller="events-view">
    <div class="absolute w-full h-full mt-6 z-50 pointer-events-none">
        <div class="overflow-scroll h-4/6 max-h-max scrollbar-nuke">
            <div class="block ml-auto mr-auto sm:mr-8 max-w-max pointer-events-auto rounded">
                <div class="block dark:bg-gray-900 p-4 mx-4 max-w-lg">
                    <div data-events-view-target="search"></div>
                </div>

                <div class="block dark:bg-gray-800 p-4 mx-4 max-w-lg pointer-events-auto" data-events-view-target="hits"></div>
            </div>
        </div>
    </div>

    <div class="relative w-full h-full" data-events-view-target="map"></div>
</div>

<style>
    .ais-GeoSearch {
        height: 100%;
    }

    .ais-GeoSearch-map {
        height: 100%;
    }

    .ais-GeoSearch-tree {
        display: none;
    }

    .scrollbar-nuke {
        scrollbar-width: none;
    }

    .scrollbar-nuke::-webkit-scrollbar {
        display: none;
    }
</style>
