<div class="block<% unless @slim %> mb-3<% end %>">
    <% unless @slim %>
        <div class="mb-2">
            <label for="<%= @name %>">
                <p>
                    <b><%= @label %>:<% if @required %><span class="text-red-600" aria-label="Required"> *</span><% end %></b>
                </p>
                <% if @description %>
                    <p class="text-sm text-gray-900 dark:text-gray-300">
                        <%= @description %>
                    </p>
                <% end %>
            </label>
        </div>
    <% end %>
    <%=
        @form.text_area @name, value: @value,
        placeholder: @label, type: @type,
        class: 'w-full dark:bg-gray-800 dark:border-gray-700 dark:text-white rounded-lg'
    %>
</div>
