<% unless user.nil? %>
    <dialog id="user_dialog" class="m-auto p-0">
        <%= render partial: 'layouts/user_modal' %>
    </dialog>
    <script>
        (function () {
            // Handle if the outside is clicked.
            const dialog = document.getElementById("user_dialog");
            dialog.addEventListener("click", e => {
                if (e.target === dialog) {
                    dialog.close();
                }
            });

            // Before turbo caches the page, close the dialog.
            document.addEventListener("turbo:before-cache", () => {
                dialog.close();
            });
        })();
    </script>
<% end %>

<nav class="flex items-center justify-between px-6 py-4 bg-white dark:bg-slate-800 shadow-lg">
    <div class="flex items-center">
        <a href="/">
            <img
                src="/logo-black.png"
                alt="VolunteerMap" class="h-8 mb-1 mr-2 dark:hidden"
            >
            <img
                src="/logo-white.png"
                alt="VolunteerMap" class="h-8 mb-1 mr-2 hidden dark:block"
            >
        </a>
    </div>

    <div>
        <% if user %>
            <a tabindex="0" class="cursor-pointer" id="_pfp" aria-haspopup="true">
                <img
                    src="/default-pfp.png"
                    alt="Avatar" class="h-8 rounded-full"
                >
            </a>
            <script>
                // Make the link work properly.
                (function () {
                    const pfp = document.getElementById("_pfp");
                    const dialog = document.getElementById("user_dialog");
                    pfp.addEventListener("keydown", e => {
                        if (e.key === "Enter") {
                            pfp.click();
                        }
                    });
                    pfp.onclick = () => {
                        dialog.showModal();
                    };
                })();
            </script>
        <% else %>
            <a
                href="/auth/login"
                class="text-gray-800 dark:text-gray-100 text-sm
                hover:text-gray-600 dark:hover:text-gray-400 font-bold"
            >
                Login or Register
            </a>
        <% end %>
    </div>
</nav>
